/*Header*/

.login-form {
	width: 300px;
	height: 400px;
	position: absolute;
	left: 50%;
	margin-top: -40px;
	margin-left: -150px;
}
.login-form .headerLogin {
	padding: 40px 30px 30px 30px;
}

.login-form .headerLogin h1 {
	font-family: 'Bree Serif', serif;
	text-align: center;
	font-weight: 300;
	font-size: 28px;
	line-height:34px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 10px;
}

.login-form .headerLogin span {
	font-size: 15px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

/*Content*/

.login-form .contentLogin {
	padding: 0 30px 25px 30px;
	text-align: center;
}

/* Input field */
.login-form .contentLogin .input {
	width: 188px;
	padding: 15px 25px;

	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);

	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;

	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

/* Second input field */
.login-form .contentLogin .password, .login-form .content .pass-icon {
	margin-top: 25px;
}



.login-form .footerLogin {
	padding: 25px 95px 40px 20px;
	overflow: auto;


	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

/* Login button */
.button {
	float:right;
	padding: 11px 25px;


	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);

	background: #dc5b21;
	border: 1px solid #dc5b21;
	border-radius: 5px;
	cursor: pointer;

}



