
body,html,div,aside{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body{
    background: #e4dbbf;
}
h2{
    font-family: "Segoe Print";
    font-size: 20px;
}
body, html{
    height: 100%;
}
aside{
    display: block;
}

body{
    line-height: 1;
}
#wrapper{
    line-height: 1;
    height:100%;


}


/*Header*/
.icon {
    width: 25px;
    height: 25px;
}

#logo {
    padding: 20px;
}

#logoImg{
    position: relative;
    top:10px;
    max-width: 250px;
}

#header_main {
    background:#383127;
    position: relative;
    height: 100px;
}

#home {
    position: absolute;
    top: 20px;
    right: 15px;
    line-height: 1px;
}

#backet {
    position: absolute;
    bottom: 17px;
    right: 70px;
    line-height: 1px;
}

#cntBacket {
    border-radius: 50%;
    position: absolute;
    bottom:  17px;
    right: 15px;
    line-height: 1px;

}

#userName {
    position: absolute;
    bottom:30px;
    right: 180px;
    line-height: 1px;
}
.categoryItem,.text1,h2,desc,price{
    font-family: "Segoe Print";

    line-height: 1.6;
}
.text1 {
    color: #dc5b21;
    font-size: 23px;
    text-align: center;

}

.text2{
    font-size: 48px;
    font-family: "Comic Sans MS";
    color: rgb(52, 44, 47);
    font-style: italic;
    line-height: 1.2;
}

/*Поиск*/
#findBlock {
    width: 100%;
    float: right;
    position: relative;
}

.search {
    max-width: 300px;
    width: 35%;
    position: absolute;
    top: 10px;
    right: 50px;
}

.search input {
    border: none;
}

/* стили для поля ввода */
.search .input  {
    width: 100%;
    padding: 8px 37px 9px 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
    border-radius: 20px;

    background: #EEE;
    font: 13px Tahoma, Arial, sans-serif;
    color: #555;
    outline: none;
}

/* меняем оформление поля ввода при фокусе */
.search .input:focus {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
    background: #E8E8E8;
    color: #333;
}

/* оформляем кнопку отправки */
.search .submit  {
    /* позиционируем кнопку абсолютно от правого края формы */
    position: absolute;
    top: 0;
    right: 0;

    width: 37px;

    /* растягиваем кнопку на всю высоту формы */
    height: 100%;

    cursor: pointer;
    background: url(../image/go.png) 50% no-repeat;

    /* добавляем прозрачность кнопке отправки */
    opacity: 0.5;
}

/* при наведении курсора меняем прозрачность кнопки отправки */
.search .submit:hover {
    opacity: 0.8;
}

/* данное свойство необходимо для того, чтобы в браузерах
** Chrome и Safari можно было стилизовать инпуты */
input[type="search"] {
    -webkit-appearance: none;
}
/*Содержание*/
.middle {
    width: 100%;
    padding: 60px 0 100px;
    position: relative;
}
.middle:after {
    display: table;
    clear: both;
    content: '';
}
.container {
    width: 100%;
    float: left;
    overflow: hidden;
}
.content {
    padding: 0 0 0 270px;
}

/*Category*/
#CategoryBox {
    float: left;
    width: 250px;
    margin-left: -100%;
    position: relative;
    background:#383127;

}



article {
    border: 2px solid #383127;
    background: #e4dbbf;
    min-width: 200px;
    min-height: 20%;
    width: 20%;
    padding: 10px 30px 30px 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    float: left;
}

article:last-of-type {
    margin-bottom: 30px;
}

desc {
    word-wrap: break-word;
    display: block;
    font-size: 16px;
}

price {
    color: green;
    display: block;
    font-size: 20px;
}


/*Footer*/
footer {
    background: #353032;
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    width: 100%; /* Ширина слоя */
    height: 100px;
}

.categoryItem {
    text-align: center;
    font-size: 20px;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*ErrorPage*/
#ErrorBlock {
    text-align: center;
    display: block;

}

#errorImg {
    margin-top:160px;
    width: 300px;
    height: 150px;
}